.container {
    float: right;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.avatar {
    width: 20px;
}

.name {
    font-family: Roboto;
}